<header class="sticky top-0 min-h-[30px] bg-white shadow-md">
    <div class="flex items-center justify-between px-4">
        <!-- Page Indicator -->
        <aside>
            <span id="page_indicator" class="font-bold block py-3">
                <i class="fa fa-user"></i> User
            </span>
        </aside>
        <!-- Icons -->
        <aside>
            <button class="py-1 px-2">
                <i class="fa fa-bell"></i>
            </button>
        </aside>
    </div>
</header>