<header class="min-h-[50px]">
    <div class="mx-auto max-w-6xl flex justify-between items-center">
        <aside>

        </aside>
        <aside>
            <ul>
                <li class="block md:inline-block">
                    <a href="index.php" class="py-3 px-4 block">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li class="block md:inline-block">
                    <a href="opinions.php" class="py-3 px-4 block">
                        <i class="fa fa-comments"></i> Opinion Poll
                    </a>
                </li>
                <li class="block md:inline-block">
                    <a href="contact.php" class="py-3 px-4 block">
                        <i class="fa fa-phone-alt"></i> Contact us
                    </a>
                </li>
                <li class="block md:inline-block">
                    <a href="admin/login.html" class="py-3 px-4 block">
                        <i class="fa fa-sign-in-alt"></i> Login
                    </a>
                </li>
            </ul>
        </aside>
    </div>
</header>